/Assignment 2/Debug
/Debug/Assignment 2.exe
/Debug/Assignment 2.exp
/Debug/Assignment 2.ilk
/Debug/Assignment 2.lib
/Debug/Assignment 2.pdb
/docs
/Documentation.lnk
/Debug/Assignment 2.exe.lastcodeanalysissucceeded
/git.txt
/Assignment 2/Release
/Release/Assignment 2.exe
/Release/Assignment 2.exp
/Release/Assignment 2.lib
/Release/Assignment 2.pdb
